<div>
    <mat-checkbox
    #showDetails
    [value] = ""
    [checked]="isChecked"
    (change) = "onChange($event)"
    >Show detail</mat-checkbox>
    <div *ngIf="showDetails.checked">"Some details...."</div>
</div>

<div>
    <mat-radio-group value="0" aria-label="Select an option">
        <mat-radio-button value="1">Male</mat-radio-button>
        <mat-radio-button value="0">Female</mat-radio-button>
      </mat-radio-group>
</div>
<div>
    <h4>Basic mat-select</h4>
<mat-form-field>
  <mat-label>Favorite food</mat-label>
  <mat-select>
    <mat-option *ngFor="let food of foods" [value]="food.value">
      {{food.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>
</div>

<div>
  <h4>Basic native select</h4>

  <mat-form-field >
    <input type="text" matInput placeholder="Username">
    <mat-hint>
      Type an unique username
    </mat-hint>
    <span matSufix>@domain.com</span>
  </mat-form-field>
</div>
